.root {
  display: grid;
  position: relative;
  width: 100%;
  height: 100vh;
  gap: var(--space);
  grid-template-columns: minmax(120px, 260px) 1fr;
  transition: all .2s ease-out;
  padding: var(--space) var(--space) 0;
}
